<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Couple Matching</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>커플 매칭 사이트</h1>

<form action="/members" th:object="${member}" method="POST" disabled>
    <div>
        <label for="name" th:text="회원명">회원명</label>
        <input type="text" id="name" th:field="*{name}"  disabled>
    </div>
    <div>
        <label for="loginId" th:text="회원ID">회원ID</label>
        <input type="text" id="loginId" th:field="*{loginId}"  disabled>
    </div>
</form>

<p>
    <a href="/members">회원 전체 목록</a>


<form th:action="|@{/members/edit}|" method="get">
    <button type="submit">회원 수정</button>
</form>

<form th:action="|@{/members/{id}(id=${member.id})}|" method="get">
    <button type="submit">회원 정보</button>
</form>

<form th:action="|@{/members/delete/{id}(id=${member.id})}|" method="post">
    <button type="submit">회원삭제</button>
</form>

<form th:action="|@{/members/logout}|" method="post">
    <button type="submit">로그아웃</button>
</form>

</body>
</html>